<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/Styles.css">
  </head>
    <body>
    <h1>Add a new item</h1>
    <form th:action="@{/{id}/save-item(id=${restaurant.id})}" th:object="${menuItem}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}" required/>
        <label for="price">Price: </label>
        <input type="number" th:field="*{price}" id="price"/>
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        <button type="submit">Save</button>
    </form>
    <a class="return-button" th:href="@{/{id}/menu-itens(id=${restaurant.id})}">Return</a>
    </body>
</html>


