a {
  color: black;
  text-align: center;
  text-decoration: none;
  background-size: 50px;
}

.button-container {
  width: 55.3%; 
  margin-left: auto;
  margin-right: auto;
  text-align: right; 
  margin-top: 1px; 
}

table{
  text-align: center;
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.table-border{
  border: 1px solid black;
}

.padding-itens{
  padding: 15px;
}

h1{
  text-align: center;
  text-decoration: underline;
}

body{
  background-color: beige;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  text-align: center;
}

button{
  background-color: white;
  color:black;
}

button:hover{
  text-decoration: underline; 
}

input{
  background-color: white;
  color:black;
}
 
input:hover{
  text-decoration: underline;
}

.save-button{
  color: black;
}

input:hover{
  text-decoration: underline; 
}

