a {
  color: black;
  text-align: center;
  text-decoration: none;
  background-size: 50px;
}

.button-container {
  width: 55.3%; 
  margin-left: auto;
  margin-right: auto;
  text-align: right; 
  margin-top: 1px; 
}

table{
  text-align: center;
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.table-border{
  border: 1px solid black;
}

.padding-itens{
  padding: 15px;
}

h1{
  text-align: center;
  text-decoration: underline;
}

body{
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  text-align: center;
}

button{
  background-color: white;
  color:black;
}

button:hover{
  text-decoration: underline; 
}

input{
  background-color: white;
  color:black;
}
 
input:hover{
  text-decoration: underline;
}

.save-button{
  color: black;
}

input:hover{
  text-decoration: underline; 
}

.anmbtn {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  max-width: 200px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .anmbtn {
    display: inline-block;
    margin-right: 2.5em;
  }
  .anmbtn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .anmbtn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .anmbtn:nth-of-type(5) {
    margin-right: 0;
  }
}

.anmbtn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.anmbtn-4 span {
  z-index: 20;
}
.anmbtn-4:after {
  background: black;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

.anmbtn-4:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.table-button{
  font-size:1.0rem;
  border:2px solid black;
  width:40px;
  height:40px;
  padding:5px;
  margin: 10% auto;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.table-button:hover{
  width:125px;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.2);
  color: black;
}

.table-button:active{
  box-shadow: 0px 10px 5px rgba(0,0,0,0.2);
  transition: .05s
}

.retaurant-name{
  font-size: large;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.return-button{
  text-decoration: underline;
}

.return-button:hover{
  font-size: 105%;
}